
.title{
  margin-top: 50px;
  @extend %font-primary;
  color: #95629d;
  font-weight: bold;
  font-size: 5rem;
  text-shadow: 0 0 50px #95629d;
  text-align: center;
  @include response($min:10px,$max:767px){
    font-size: 2.5rem;
    }
}