$color-layout:#004134;
$color-letters:#82bc9a;
$color-letters-background:rgba($color: #bed1ce, $alpha: .2);
$color-letters-background-active:rgba($color: #16cb68, $alpha: .3);
$color-lamp-active:#08ff00;