.keyboard{
position: fixed;
left: 0;
bottom: 0;

width: 100%;
padding: 5px;
background-color:#004134;
box-shadow: 0 0 50px rgba($color: #000000, $alpha: .5);
user-select: none;
transition: bottom 2.5s
;
}

.keyboard__hidden{
  bottom: -100%;
}
.keyboard__keys{
  text-align: center;
}
.keyboard__key{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 6%;
  max-width: 90px;
  height: 45px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #ebd9d9;
  font-size: 1.01rem;
  background: rgba($color: #bed1ce, $alpha: .2);
  cursor: pointer;
  vertical-align: top;

  &_small{
  width: 8%;
  max-width: 120px;
  }
  &_small_dark{
    background: rgba($color: #000000, $alpha: .25);
  }

  &_middle{
    width: 14%;
    max-width: 180px;
  }
  &_large{
    width:  18%;
    max-width: 190px;
  }

  &_extra-large{
    width: 36%;
    max-width: 90%;
    height: 45px;
  }
  &_activated:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba($color: #000000, $alpha: .4);
  }
  &_active:before{
    background: #08ff00;
  }
}
.keyboard__key:active{
  background: rgba($color: #bed1ce, $alpha: .12);
}


